# Servora Environment Variables Example
DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="servora-super-secret-key-tamale-2026"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Servora"
NEXT_PUBLIC_CITY_NAME="Tamale"
